<script type="text/javascript">
	ShopifyApp.ready(function() {
		ShopifyApp.Bar.initialize({
			title: 'Minicart',
			buttons: {
				secondary: 
				[
					{
						label: 'Back',
						href: '<%= shopify_shop_orders_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Orders',
						href: '<%= shopify_shop_orders_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Products',
						href: '<%= shopify_shop_products_path(@shop) %>',
						target: 'app'
					}
				]
			}
		});
	});
</script>
<%= link_to "Edit", edit_shopify_shop_order_path(@shop, @order) %>
<br>
<div>
	<%= @order.name %> <%= @order.subtotal_price %><br>
	Expected Shipping Cost
	<%= (@order.total_price.to_f - @order.subtotal_price.to_f).round(2) %><br>
	<% @order.line_items.each do |line_item| %>
		<div>
			<%= line_item.title %>
			<%= line_item.quantity %> x 
			<%= line_item.price %> = 
			<%= (line_item.quantity.to_i * line_item.price.to_f).round(2) %>
		</div>
	<% end %>
</div>