<%= form_for @user do |form| %>
	<div>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</div>
	<div>
		<%= form.label :contact_no %>
		<%= form.text_field :contact_no %>
	</div>
	<%= form.submit 'Update' %>
<% end %>

<%= form_for @address, url: {controller: 'addresses', action: 'create'} do |form| %>
	<div>
		<%= form.label :plot, as: 'Plot/house no' %>
		<%= form.text_field :plot %>
	</div>

	<div>
		<%= form.label :lane %>
		<%= form.text_field :lane %>
	</div>

	<div>
		<%= form.label :landmark %>
		<%= form.text_field :landmark %>
	</div>

	<div>
		<%= form.label :city %>
		<%= form.text_field :city %>
	</div>

	<div>
		<%= form.label :state %>
		<%= form.text_field :state %>
	</div>

	<div>
		<%= form.label :pincode %>
		<%= form.text_field :pincode %>
	</div>
	<%= form.submit 'Add' %>
<% end %>

<% unless @user.address.nil? %>
	<div>
		<h3>Address</h3>
		<div>
			Plot/House no : <%= @user.address.plot %>
		</div>
		<div>
			Lane/Street no : <%= @user.address.lane %>
		</div>
		<% unless @user.address.landmark.nil? %>
			<div>
				Landmark : <%= @user.address.landmark %>
			</div>
		<% end %>
		<div>
			City : <%= @user.address.city %>
		</div>
		<div>
			State : <%= @user.address.state %>
		</div>
		<div>
			Pincode : <%= @user.address.pincode %>
		</div>
	</div>
<% end %>
