<% product = cart_item.product %>

<div style="margin-bottom: 30px">

	<div>
		<%= link_to product.name, product_path(product) %>
	</div>
	<div>
		<span>Price</span>	<%= product.price %>
	</div>
	<div>
		<span>Quantity</span>
		<%= link_to 'minus', change_quantity_cart_item_path(cart_item, 'minus'), method: :post %>
		<%= cart_item.quantity %>
		<%= link_to 'plus', change_quantity_cart_item_path(cart_item, 'plus'), method: :post %>
	</div>
	<%= link_to 'remove', cart_item_path(cart_item), method: :delete %>
</div>