<script type="text/javascript">
	ShopifyApp.ready(function() {
		ShopifyApp.Bar.initialize({
			title: 'Minicart',
			buttons: {
				secondary: 
				[
					{
						label: 'Back',
						href: '<%= shopify_shop_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Orders',
						href: '<%= shopify_shop_orders_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Products',
						href: '<%= shopify_shop_products_path(@shop) %>',
						target: 'app'
					}
				]
			}
		});
	});
</script>
<%= link_to "Back", shopify_shop_path(@shop), class: "btn btn-info" %>
<br>
<% @products.each do |product| %>
	<div>
		<%= link_to product.title, edit_shopify_shop_product_path(@shop, product.id) %> in 
		<%= product.variants.size %> varints is sold by 
		<%= product.vendor %>
	</div>
<% end %>