<% if @cart_items.any? %>
	<% @cart_items.each do |cart_item| %>
		<%# product = cart_item.product %>
		<div>
			<%= link_to cart_item.product.name, product_path(cart_item.product) %>
		</div>
		<div>
			Price <%= cart_item.product.price %>
		</div>
		<div>
			quantity
			<%= link_to '-', change_quantity_cart_item_path(cart_item, 'minus'), method: :patch, class: 'btn btn-primary' %>
			<%= cart_item.quantity %>
			<%= link_to '+', change_quantity_cart_item_path(cart_item, 'plus'), method: :patch, class: 'btn btn-primary' %>
		</div>
		<div>
			<%= link_to 'remove', cart_item_path(cart_item), method: :delete, class: 'btn btn-warning' %>
		</div>
		<div>
			<%= link_to 'Continue Shopping', root_path, class: 'btn btn-default' %>
			<%= link_to 'Place order', "#", class: 'btn btn-warning' %>
		</div>
	<% end %>
<% end %>