<% if @cart_items.any? %>
	<div class="products-list-container">
		<% @cart_items.each do |cart_item| %>
			<div class="product-container" id="product<%= cart_item.product_id %>">
				<div class="row product-information">
					<div class="col-sm-3 product-image-container">
						<%= image_tag cart_item.product.thumb.image.url(:thumb), class: "product-image" %>
					</div>
					<div class="col-sm-9 product-details-container">
						<div class="product-name">
							<%= link_to cart_item.product.name, product_path(cart_item.product) %>
						</div>
						<div class="product-price">
							Price <%= cart_item.product.price %>
						</div>
					</div>
				</div>
				<div class="row product-operation-container">
					<div class="col-sm-3 product-quantity-operation">
						<%= link_to '-', change_quantity_cart_item_path(cart_item, 'minus'), method: :put, remote: true, class: 'btn btn-default btn-change-quantity' %>
						<span class="product-quantity" id="<%= "quantity_cart_item#{cart_item.id}" %>"><%= cart_item.quantity %></span>
						<%= link_to '+', change_quantity_cart_item_path(cart_item, 'plus'), method: :put, remote: true, class: 'btn btn-default btn-change-quantity' %>
					</div>
					<div class="col-sm-9 product-remove-operation">
						<%= link_to 'Remove', cart_item_path(cart_item), method: :delete, remote: true, class: 'btn btn-default btn-remove' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<div>
		<%= link_to 'Continue Shopping', root_path, class: 'btn-action' %>
		<%= link_to 'Place Order', new_order_path, class: 'btn-action' %>
	</div>
<% end %>