<%= link_to 'Add new address', new_address_path, class: "btn btn-primary" %>
<% if @addresses.any? %>
	<h1>Addresses</h1>
	<% @addresses.each do |address| %>
		<div>
			Plot/House no : <%= address.plot %><br>
			Lane/Street no :  <%= address.lane %><br>
			<% unless address.landmark.blank? %>
				Landmark : <%= address.landmark %><br>
			<% end %>
			City : <%= address.city %><br>
			State : <%= address.state %><br>
			Pincode : <%= address.pincode %><br>
			<%= link_to 'delete', address_path(address), method: :delete, class: "btn btn-primary" %>
			<%= link_to 'edit', edit_address_path(address), class: "btn btn-primary" %>
			<% unless address.default? %>
				<%= link_to 'Set as default', make_default_address_path(address), method: :patch, class: "btn btn-primary" %>
			<% end %>
			<br><br>
		</div>
	<% end %>
<% end %>