<script type="text/javascript">
	ShopifyApp.ready(function() {
		ShopifyApp.Bar.initialize({
			title: 'Minicart',
			buttons: {
				secondary: 
				[
					{
						label: 'Home',
						href: '<%= shopify_shop_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Orders',
						href: '<%= shopify_shop_orders_path(@shop) %>',
						target: 'app'
					},
					{
						label: 'Products',
						href: '<%= shopify_shop_products_path(@shop) %>',
						target: 'app'
					}
				]
			}
		});
	});
</script>
<h1>Hello <%= @current_shop.shop_owner %></h1>
<div>
	see <%= link_to "Orders", shopify_shop_orders_path(@shop) %></div>
<div>see <%= link_to "Products", shopify_shop_products_path(@shop) %></div>