<div>
	<h2><%= @product.name %></h2>
	<h3>Price : <%= @product.price %></h3>
	<p><%= @product.description %></p>
</div>
<% unless cart_item? @product.id %>
	<%= form_for @cart_item do |form| %>
		<%= form.hidden_field :product_id, value: @product.id %>

		<%= form.submit 'Add to Cart', class: "btn btn-primary" %>
	<% end %>
<% else %>
	<%= link_to 'Go to cart', cart_items_path, class: 'btn btn-primary' %>
<% end %>

<%= render partial: 'related_products', locals: {object: @related_products} %>
