<div class="row product-details-container">
	<div class="col-sm-7 product-image-container">
		<%= image_tag @thumb.image.url(:large), class: "product-image" unless @thumb.nil? %>
	</div>
	<div class="col-sm-5 product-details">
		<span class="product-name"><%= @product.name %></span>
		<span class="product-price">Price : <%= @product.price %></span>
		<span class="product-description"><%= @product.description %></span>
	</div>
</div>
<% unless self.cart_item? @product.id %>
	<%#= render partial: "add_to_cart_button" %>
	<%= form_for @cart_item do |form| %>
		<%= form.hidden_field :product_id, value: @product.id %>

		<%= form.submit 'Add to Cart', class: "button" %>
	<% end %>
<% else %>
	<%= link_to 'Go to cart', cart_items_path, class: 'button' %>
<% end %>
<%= link_to "View all images", product_images_path(@product), class: "button" %>

<%= render partial: 'related_products', locals: {object: @related_products} %>
