<div class="row">
	<div class=col-sm-3>
		explore categories
		<ul>
			<li><%= link_to "Electronics", "#" %></li>
			<li><%= link_to "Appliances", "#" %></li>
			<li><%= link_to "Menswear", "#" %></li>
			<li><%= link_to "Womenswear", "#" %></li>
			<li><%= link_to "Baby & Kidswaer", "#" %></li>
			<li><%= link_to "Home & Furnitures", "#" %></li>
			<li><%= link_to "sports", "#" %></li>
		</ul>
	</div>
	<div class="col-sm-3">
		Need help?
		<ul>
			<li><%= link_to "Help", "#" %></li>
			<li><%= link_to "Contact Us", "#" %></li>
			<li><%= link_to "FAQs", "#" %></li>
			<li><%= link_to "Policies", "#" %></li>
			<li><%= link_to "Terms and Conditions", "#" %></li>
		</ul>
	</div>
	<div class="col-sm-3">
		join us at
		<ul>
			<li><%= link_to "Facebook", "#" %></li>
			<li><%= link_to "Twitter", "#" %></li>
			<li><%= link_to "Youtube", "#" %></li>
			<li><%= link_to "Google Plus", "#" %></li>
		</ul>
	</div>
	<div class="col-sm-3">
		Visit Us
		<p>
			minicart Internet Private Limited,<br>
			Vaishnavi Summit, Ground Floor, 7th Main,<br>
			80 Feet Road, 3rd Block,<br>
			Koramangala,Bengaluru - 560034<br>
			India
		</p>
	</div>
</div>