<div class="row">
	<nav class="navbar navbar-inverse navbar-minicart">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navBar">
				<ul class="nav navbar-nav">
					<li id="nav-root" class="active"><%= link_to 'Home', root_path %></li>
					<li id="nav-electronics"><%= link_to 'Electronics', category_path(1) %></li>
					<li id="nav-appliances"><%= link_to 'Appliances', category_path(5) %></li>
					<li id="nav-men"><%= link_to 'Menswear', category_path(2) %></li>
					<li id="nav-women"><%= link_to 'Womenswear', category_path(3) %></li>
					<li id="nav-kidd"><%= link_to 'Baby & Kidswear', category_path(4) %></li>
					<li id="nav-home"><%= link_to 'Home & Furnitures', category_path(6) %></li>
					<li id="nav-sports"><%= link_to 'Sports', category_path(7) %></li>
				</ul>
			</div>
		</div>
	</nav>
</div>